--extra-index-url https://us-central1-python.pkg.dev/cube-machine-learning/rewiring-america-python-repo/simple

appnope==0.1.4 ; (sys_platform == "darwin" or platform_system == "Darwin") and python_version == "3.11"
brotli==1.0.9 ; python_version == "3.11"
colorama==0.4.6 ; (platform_system == "Windows" or sys_platform == "win32") and python_version == "3.11"
cramjam==2.11.0 ; python_version == "3.11"
cython==0.29.32 ; python_version == "3.11"
databricks-sdk==0.33.0 ; python_version == "3.11"
db-dtypes==1.4.2 ; python_version == "3.11"
deprecated==1.2.14 ; python_version == "3.11"
distro==1.9.0 ; python_version == "3.11"
dmlbootstrap==0.3.0 ; python_version == "3.11"
dmlutils==1.0.3 ; python_version == "3.11"
duckdb==1.2.2 ; python_version == "3.11"
eemeter==3.2.0 ; python_version == "3.11"
eeweather==0.3.28 ; python_version == "3.11"
et-xmlfile==2.0.0 ; python_version == "3.11"
farama-notifications==0.0.4 ; python_version == "3.11"
flask==2.2.5 ; python_version == "3.11"
gcsfs==2023.5.0 ; python_version == "3.11"
geocoder==1.38.1 ; python_version == "3.11"
gitpython==3.1.27 ; python_version == "3.11"
google-cloud-bigquery-storage==2.31.0 ; python_version == "3.11"
google-cloud-bigquery==3.30.0 ; python_version == "3.11"
google-cloud-secret-manager==2.23.3 ; python_version == "3.11"
grpc-google-iam-v1==0.14.2 ; python_version == "3.11"
h3==4.2.2 ; python_version == "3.11"
imagehash==4.3.1 ; python_version == "3.11"
importlib-resources==6.4.0 ; python_version == "3.11"
iniconfig==2.1.0 ; python_version == "3.11"
jinja2==3.1.2 ; python_version == "3.11"
jupyter-client==7.4.9 ; python_version == "3.11"
jupyter-core==5.3.0 ; python_version == "3.11"
jupyterlab-widgets==1.0.0 ; python_version == "3.11"
keyrings-google-artifactregistry-auth==1.1.2 ; python_version == "3.11"
language-data==1.2.0 ; python_version == "3.11"
lazr-restfulclient==0.14.4 ; python_version == "3.11"
lazr-uri==1.0.6 ; python_version == "3.11"
lazy-loader==0.2 ; python_version == "3.11"
mako==1.2.0 ; python_version == "3.11"
markdown==3.4.1 ; python_version == "3.11"
markupsafe==2.1.1 ; python_version == "3.11"
notebook-shim==0.2.2 ; python_version == "3.11"
openpyxl==3.1.5 ; python_version == "3.11"
pillow==9.4.0 ; python_version == "3.11"
pluggy==1.6.0 ; python_version == "3.11"
probableparsing==0.0.1 ; python_version == "3.11"
py4j==0.10.9.7 ; python_version == "3.11"
pygments==2.15.1 ; python_version == "3.11"
pyjwt==2.3.0 ; python_version == "3.11"
pynacl==1.5.0 ; python_version == "3.11"
pyopenssl==23.2.0 ; python_version == "3.11"
pyproj==3.7.1 ; python_version == "3.11"
pyspark==3.5.5 ; python_version == "3.11"
pytest==8.3.3 ; python_version == "3.11"
python-crfsuite==0.9.11 ; python_version == "3.11"
python-snappy==0.7.3 ; python_version == "3.11"
pywavelets==1.4.1 ; python_version == "3.11"
pywin32-ctypes==0.2.3 ; python_version == "3.11" and sys_platform == "win32"
pywin32==310 ; (sys_platform == "win32" and platform_python_implementation != "PyPy" or platform_system == "Windows") and python_version == "3.11"
pywinpty==2.0.15 ; python_version == "3.11" and os_name == "nt"
pyyaml==6.0 ; python_version == "3.11"
pyzmq==27.1.0 ; python_version == "3.11"
radbcluster==15.4.3 ; python_version == "3.11"
ratelim==0.1.6 ; python_version == "3.11"
secretstorage==3.3.1 ; python_version == "3.11"
send2trash==1.8.0 ; python_version == "3.11"
shapely==2.1.0 ; python_version == "3.11"
sqlalchemy==1.4.39 ; python_version == "3.11"
tensorboard-plugin-profile==2.15.1 ; python_version == "3.11"
tensorboardx==2.6.2.2 ; python_version == "3.11"
tf-keras==2.16.0 ; python_version == "3.11"
timezonefinder==6.5.7 ; python_version == "3.11"
toml==0.10.2 ; python_version == "3.11"
torch==2.0.1 ; python_version == "3.11"
torchvision==0.15.2 ; python_version == "3.11"
typing-extensions==4.10.0 ; python_version == "3.11"
usaddress-scourgify==0.6.0 ; python_version == "3.11"
usaddress==0.5.13 ; python_version == "3.11"
usingversion==0.1.2 ; python_version == "3.11"
werkzeug==2.2.3 ; python_version == "3.11"
widgetsnbextension==3.6.1 ; python_version == "3.11"
yaml-config==0.1.5 ; python_version == "3.11"
