# Run our tests whenever a branch is pushed.

name: Run tests

on:
  push:
    branches-ignore:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    # See https://github.com/google-github-actions/auth#usage
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:        
    - uses: actions/checkout@v4

    # See https://github.com/google-github-actions/auth#usage
    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        token_format: 'access_token'
        project_id: 'cube-machine-learning'
        service_account: 'github-tests@cube-machine-learning.iam.gserviceaccount.com'
        workload_identity_provider: 'projects/777182164725/locations/global/workloadIdentityPools/github/providers/ra-github-repo'

    # We download a lot of dependencies. So free up some space
    # by removing tools we don't need.
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
        tool-cache: false

        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Install poetry
      uses: abatilo/actions-poetry@v2

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: "poetry"

    - name: Install keyring auth
        # We use pip to install the plugin into the same environment as Poetry
        # but with --upgrade-strategy only-if-needed to avoid touching system libs
      run: |
        $(which python3) -m pip install --user keyrings.google-artifactregistry-auth

    # Now the keyring has been installed so we can install the environment with poetry.
    - name: Use poetry to install dependencies.
      run: poetry install

    - name: Run pytest
      run: poetry run pytest tests
